@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>PortLink is a Port Booking System created by Joel Samuel Altea and Austin Gil Poblete. This program uses made up data but maybe used for enterprise business.</p>
